uid(resource) <Resource.policy> uid(policy) .

uid(policy) <dgraph.type> "Policy" .
uid(policy) <Policy.etag> "{{ .ETag }}" .
uid(policy) <Policy.version> "{{ .Policy.Version }}" .

{{- range .Policy.Bindings }}
uid(policy) <Policy.bindings> _:binding_{{ AlphaNumVar .Role }} .

_:binding_{{ AlphaNumVar .Role }} <dgraph.type> "Binding" ..
_:binding_{{ AlphaNumVar .Role }} <Binding.role> uid(role_{{ AlphaNumVar .Role }}) .

{{- $binding := . }}
{{- range .Members }}
_:binding_{{ AlphaNumVar $binding.Role }} <Binding.members> uid(members_{{ AlphaNumVar . }}) .
{{- end }} {{/* range .Members */}}
{{- end }} {{/* range .Bindings */}}