query {
	var(func: eq(Group.name, "{{ .Group.Name }}")) { group as uid }

	{{- if call .FieldMask "group.members" }}
	{{- range .Group.Members }}
	{{- if IsGroup . }}
	var(func: eq(Group.name, "{{ ToGroupName . }}")) { members_{{ AlphaNumVar . }} as uid }
	{{- else if IsUser . }}
	var(func: eq(Subject.name, "{{  ToUserName . }}")) { members_{{ AlphaNumVar . }} as uid }
	{{- else if IsServiceAccount . }}
	var(func: eq(Subject.name, "{{ ToServiceAccountName . }}")) { members_{{ AlphaNumVar . }} as uid }
	{{- else if IsAllUsers . }}
	var(func: eq(Subject.name, "system/allUsers")) { members_{{ AlphaNumVar . }} as uid }
	{{- end }} {{/* if IsGroup . */}}
	{{- end }} {{/* range .Members */}}
	{{- end }} {{/* if FieldMask "group.members" */}}
}